html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mode-toggle {
    position: absolute;
    left: 40px;
    z-index: 1000;
    background: white;
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    color: #4d4d4d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #FFD43B;
  transition: .3s;
  border-radius: 26px;
}
